<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="CSS\\style.css" />
    <script src="js\\script.js"></script>
    <title>Coffee-Shop</title>
</head>

<body>
    <header>
        <h1 class="title"><img src="logo.png" alt="coffee logo" width="100" height="75" />
            <span>Coffee-Shop</span>
        </h1>
    </header>
    <nav>
        <a href="/">Acasă<span class="link_text">Pagina principala</span></a>
        <a href="/chestionar" >Chestionar<span class="link_text">Quick quiz!</span></a>
    </nav>
    <main id="continut">
        <br>
        <%- body%>
    </main>
    <footer>
        <br><br>

        &copy;2022.Coffee-Shop
    </footer>
</body>

</html>